.form-group{
    display: flex !important;
}
.form-control{
    height: auto !important;
    border-radius: 0px !important;
}
.form-control:focus{
    border: 1px solid gray !important;
    box-shadow: none !important;
    font-size: 2rem !important;
}
.btn-success{
    border-radius: 0px !important;
    font-size: 2rem !important;
    padding: 1rem !important;
}